*~
*.swp
Icon?
.DS_Store
.thumbnails
.hgignore_global
.hgignore
.svnignore

.idea
*.iml
*.ipr
*.iws

.settings
.workspace
.plugins

nbproject

.sasscache
.sass-cache
.sass_cache

/vendor

/src/main/webapp/stylesheets
/src/main/webapp/javascripts

/.abc_cache
/.pear
/.npm
